In [6]:
import sqlite3
import pandas as pd

# Database file (Creates if it doesn't exist)
db_name = "stocks_data.db"

# Connect to SQLite database
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Define table schema with UNIQUE constraint on (ticker, date)
create_table_query = """
CREATE TABLE IF NOT EXISTS daily_stock_prices (
    symbol TEXT,
    date TEXT,
    open REAL,
    high REAL,
    low REAL,
    close REAL,
    volume INTEGER,
    adjclose REAL,
    ticker TEXT,
    UNIQUE (ticker, date) -- Ensures unique ticker-date pairs
);
"""

# Execute the query
cursor.execute(create_table_query)
conn.commit()

In [1]:


# Convert to DataFrame
df = pd.DataFrame(data, columns=["symbol", "date", "open", "high", "low", "close", "volume", "adjclose", "ticker"])

# Insert DataFrame into SQLite database with error handling
try:
    df.to_sql("stock_prices", conn, if_exists="append", index=False)
except Exception as e:
    print(f"Error inserting data: {e}")

# Fetch and display inserted data
print(pd.read_sql("SELECT * FROM stock_prices", conn))

# Close connection
conn.close()

3

In [5]:
print(pd.read_sql("SELECT * FROM stock_prices", conn))

             symbol        date          open          high           low  \
0         3PLAND.NS  2008-03-11     32.000000     32.150002     31.900000
1         3PLAND.NS  2008-03-12     33.700001     33.799999     33.700001
2         3PLAND.NS  2008-03-13     34.299999     35.299999     33.000000
3         3PLAND.NS  2008-03-14     32.150002     34.099998     31.549999
4         3PLAND.NS  2008-03-17     32.000000     33.950001     31.450001
...             ...         ...           ...           ...           ...
947164  BOSCHLTD.NS  2025-03-12  26650.000000  27030.150391  26400.000000
947165  BOSCHLTD.NS  2025-03-13  26900.000000  27125.000000  26540.000000
947166  BOSCHLTD.NS  2025-03-17  26750.000000  26807.099609  26282.449219
947167  BOSCHLTD.NS  2025-03-18  26379.050781  26759.650391  26210.949219
947168  BOSCHLTD.NS  2025-03-19  26345.849609  26345.849609  26345.849609

               close   volume      adjclose  dividends       ticker  splits
0          32.150002   1196.0     31.924387        0.0    3PLAND.NS     NaN
1          33.799999    550.0     33.562805        0.0    3PLAND.NS     NaN
2          33.099998   3371.0     32.867718        0.0    3PLAND.NS     NaN
3          33.000000   4408.0     32.768421        0.0    3PLAND.NS     NaN
4          33.900002   1241.0     33.662106        0.0    3PLAND.NS     NaN
...              ...      ...           ...        ...          ...     ...
947164  26982.550781  18143.0  26982.550781        0.0  BOSCHLTD.NS     0.0
947165  26807.099609  17579.0  26807.099609        0.0  BOSCHLTD.NS     0.0
947166  26378.349609   8806.0  26378.349609        0.0  BOSCHLTD.NS     0.0
947167  26345.849609  16075.0  26345.849609        0.0  BOSCHLTD.NS     0.0
947168  26345.849609      0.0  26345.849609        0.0  BOSCHLTD.NS     0.0

[947169 rows x 11 columns]